@import url('https://fonts.googleapis.com/css?family=Major Mono Display');

/* div {
  border: solid white;
} */

body {
  position: relative;
  width: 1280px;
  height: 2400px;
  background: linear-gradient(180deg, #744F00 0%, #74005F 100%);
}

h1 {
  position: absolute;
  width: 948px;
  height: 64px;
  left: calc(50% - 948px/2);
  top: 56px;
  
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  /* identical to box height */
  
  color: #46E840;
  /* border: solid white; */
  }

#leftside-code {
display: flex;
flex-direction: column;
justify-content: space-between;

position: absolute;
width: 371px;
height: 395px;
left: 235px;
top: 227px;

font-family: 'Major Mono Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

color: #46E840;
/* border: solid white; */
}

#rightside-code {
display: flex;
flex-direction: column;
justify-content: space-between;

position: absolute;
width: 407px;
height: 480px;
left: 638px;
top: 227px;

font-family: 'Major Mono Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */

color: #46E840;
/* border: solid white; */
}

h2 {
position: absolute;
width: 1090px;
height: 150px;
left: calc(50% - 1090px/2);
top: 949px;

font-family: 'Major Mono Display';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 75px;
/* or 117% */

color: #46E840;
}